!*.ncb

obj
bin
csx
temp
.sass-cache/
*.idea
node_modules/
deploy
deploy/*
_ReSharper.*
*.resharper
*.suo
*.cache
~$*
*.user
packages/*
!packages/repositories.config
*.DotSettings
*main.min.js
*.dbmdl
/TeamSampleProject.Web/uploads

*.sass-cache
*.idea
node_modules/
npm-debug.log
