@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="/Content/images/AngularJS_logo.svg.png" alt="Angular" height="100" width="400">
    <h1>Superheroic JavaScript MVW Framework</h1>    
    <p class="lead">AngularJS is what HTML would have been, had it been designed for building web-apps. Declarative templates with data-binding, MVW, MVVM, MVC, dependency injection and great testability story all implemented with pure client-side JavaScript!</p>
    <p><a href="https://slides.com/rimvydas/angular-js/" class="btn btn-primary btn-lg">Slides &raquo;</a></p>
</div>